#main {
   overflow: hidden;
}

/* header */
.header {
   height: var(--header-height);
   background-color: #fff;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 5;
}

.nav {
   display: flex;
   justify-content: space-between;
   max-width: 1200px;
   margin: 0 auto;
}

.nav__icon-wrap {
   padding: 20px 16px;
}

.nav__icon-wrap:hover {
   cursor: pointer;
   background-color: #ccc;
}

.nav__icon {
   position: relative;
   top: 2px;
   width: 24px;
   height: 23px;
}

.nav p {
   font-size: 2.4rem;
   line-height: 28px;
   padding: 20px 16px;
   color: #000;
}

.nav-hidden__overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(255, 255, 255, 0);
   display: none;
}

.nav-hidden__checkbox:checked ~ .nav-hidden__overlay {
   display: block;
}

.nav-hidden {
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   bottom: 0;
   width: 40%;
   min-width: 300px;
   background-color: #fff;
   list-style: none;
   box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
   transform: translateX(-100%);
   opacity: 0;
   transition: transform linear 0.4s, opacity linear 0.4s;
}

.nav-hidden__checkbox:checked ~ .nav-hidden {
   transform: translateX(0);
   opacity: 1;
}

.nav-hidden__item-link {
   text-decoration: none;
   display: block;
   font-size: 2.4rem;
   line-height: 28px;
   color: #000;
   padding: 24px 16px;
}

.nav-hidden__item-link:hover,
.nav-hidden__close:hover {
   cursor: pointer;
   background-color: #ccc;
}
.nav-hidden__close {
   display: block;
   font-size: 2.4rem;
   line-height: 28px;
   color: #000;
   padding: 24px 16px;
}

/* content */
/* food */
.grid.wide.food {
   margin: 100px auto 0;
}

.food__img {
   width: 100%;
   height: auto;
}

.food__name {
   font-size: 2.4rem;
   line-height: 28px;
   color: #000;
   margin: 10px 0;
   text-align: center;
   font-weight: 200;
}

.food__des {
   font-size: 1.5rem;
   line-height: 22px;
   color: #000;
   margin: 15px 0;
   text-align: center;
}

.grid.wide.food .row .col {
   margin-top: 16px;
}

.row.page {
   justify-content: center;
   padding: 32px 0;
}

.page__link {
   display: block;
   padding: 8px 16px;
   color: #000;
   text-decoration: none;
   font-size: 1.5rem;
}

.page__link:hover {
   cursor: pointer;
   background-color: #000;
   color: #fff;
}

.page__link--active {
   background-color: #000;
   color: #fff;
}

hr {
   border: none;
   border-top: 1px solid #eee;
   margin: 20px 0;
}

/* about */
.grid.wide.about {
   margin: 80px auto 0;
}

.about__text,
.about__heading {
   width: 100%;
   text-align: center;
   color: #000;
}

.about__heading {
   font-size: 2.4rem;
   line-height: 28px;
   font-weight: 200;
   margin-bottom: 40px;
}

.about__img {
   display: block;
   margin: 0 auto;
   width: 800px;
   max-width: 100%;
   height: auto;
}

.grid.wide.about .col.l-12:nth-child(3) >p {
   font-size: 2rem;
   line-height: 24px;
   margin-top: 40px;
   font-weight: 600;
}

.grid.wide.about .col.l-12:nth-child(4) >p {
   font-size: 1.6rem;
   line-height: 18px;
   font-weight: 300;
   margin: 20px 0 10px;
}

.grid.wide.about .col.l-12:nth-child(5) >p {
   font-size: 1.5rem;
   line-height: 18px;
   font-weight: 300;
   margin: 15px 0 65px;
}

/* footer */
.grid.wide.footer {
   margin-bottom: 40px;
}

.license__heading,
.blog__heading,
.tags__heading {
   font-size: 2.4rem;
   line-height: 28px;
   color: #000;
   font-weight: 200;
   margin: 50px 0 10px;
}

.license__des {
   font-size: 1.5rem;
   line-height: 18px;
   color: #000;
   margin: 15px 0;
}

.license__link {
   display: flex;
   align-items: center;
   margin: 15px 0;
}

.license__link p {
   margin-right: 4px;
   font-size: 1.5rem;
   line-height: 18px;
   color: #000;
}

.license__link a {
   font-size: 1.5rem;
   line-height: 18px;
   color: #000;
}

.blog__post {
   display: flex;
   align-items: center;
   padding: 16px;
}

.blog__post--has-border {
   border-bottom: 1px solid #ddd;
}

.blog__post-img {
   display: block;
   width: 50px;
   height: auto;
   margin-right: 8px;
}

.blog__post-content p {
   font-size: 1.8rem;
   line-height: 22px;
   color: #000;
}

.blog__post-content span {
   display: block;
   font-size: 1.5rem;
   line-height: 22px;
   color: #000;
}

.tags__title {
   display: flex;
   flex-wrap: wrap;
}

.tags__title span {
   display: block;
   padding: 0 8px;
   font-size: 1.2rem;
   line-height: 18px;
   color: #fff;
   background-color: #616161;
   margin: 0 8px 16px 0;
}

.tags__title .tags__title--active {
   font-size: 1.5rem;
   background-color: #000;
}