.main {
   overflow: hidden;
}

/* header */
.header {
   position: fixed;
   z-index: 5;
   width: 100%;
   top: 0;
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #000;
   box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
   background-color: #fff;
}

/* JS will do */
/* .header:decrement {
   color: #000;
   box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
   background-color: #fff;
   animation: animateTop 0.4s;
}

.header:decrement .nav__list-item-link,
.header:decrement .nav__list-item-icon {
   color: #000;
}

@keyframes animateTop {
   from {
      top: -42px;
   }
   to {
      top: 0;
   }
} */

/* // Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
} */

.nav {
   height: var(--header-height);
}

.nav__list {
   list-style: none;
   max-height: var(--header-height);
   display: flex;
}

.nav__list-item {
   height: var(--header-height);
}

.nav__list-item-link {
   /* color: #777; */
   display: flex;
   color: #000;
   text-decoration: none;
   font-size: 1.5rem;
   align-items: center;
   line-height: calc(var(--header-height) - 16px);
   padding: 8px 16px;
   height: 100%;
}

.nav__list-item-link:hover {
   cursor: pointer;
   background-color: #ccc;
}

.nav__list-item-link p {
   position: relative;
   top: 2px;
}

.nav__list-item-link svg {
   position: relative;
   top: 1px;
}

.nav__list-item-icon {
   width: 1.4rem;
   height: 1.4rem;
   /* color: #777; */
   color: #000;
   margin-right: 2px;
}

.nav-mobile__click {
   max-height: var(--header-height);
   padding: 9.8px 16px;
}

.nav-mobile__click svg {
   width: 22px;
   height: 22px;
}

.nav-mobile__bars {
   color: #000;
   width: 22px;
   height: 22px;
}

.nav-mobile__overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.6);
   display: none;
}

.nav-mobile__checkbox:checked ~ .nav-mobile__overlay {
   display: block;
}

.nav-mobile {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   min-width: 320px;
   background-image: linear-gradient(135deg,rgb(116, 116, 240), rgb(192, 78, 236));
   display: none;
}

.nav-mobile__checkbox:checked ~ .nav-mobile {
   display: block;
}

.nav-mobile__list {
   list-style: none;
}

.nav-mobile__list-item-link {
   text-decoration: none;
   font-size: 1.6rem;
   color: #fff;
   line-height: 22px;
   display: block;
   padding: 14px 16px;
   font-weight: 700;
}


.header__search {
   max-height: var(--header-height);
   padding: 12.8px 16px;
}

.header__search:hover {
   background-color: #f44336;
   color: #fff;
   cursor: pointer;
}

.header__search-icon {
   width: 1.4rem;
   height: 1.4rem;
   position: relative;
   top: 1px;
}

.nav__list-item-link.nav__home {
   position: relative;
   padding-top: 10px;
   padding-bottom: 7px;
}

/* slider */
.slider {
   background-image: url('https://www.w3schools.com/w3images/parallax1.jpg');
   background-attachment: scroll;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-height: 400px;
   opacity: 0.7;
   position: relative;
}

.slider__label {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 12px 24px;
   background-color: #000;
   color: #fff;
   font-size: 2.4rem;
   letter-spacing: 10px;
   line-height: 28px;
   font-weight: 200;
}

/* about */
.about {
   color: #777;
}

.about__heading {
   font-size: 2.4rem;
   font-weight: 200;
   line-height: 26px;
   padding: 12px 0;
   width: 100%;
   text-align: center;
}

.about__title {
   font-size: 1.5rem;
   text-align: center;
   font-style: italic;
   margin: 10px 0;
   width: 100%;
   text-align: center;
}

.about__description {
   font-size: 1.5rem;
   margin: 15px 0;
   line-height: 2.6rem;
}

.row.row-about {
   margin-right: -24px;
   margin-left: -24px;
}

.col.l-6.col-about {
   padding: 12px 24px;
}

.about__me {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.about__name {
   font-size: 1.5rem;
   margin: 15px;
}

.about__name-icon {
   width: 15px;
   height: 15px;
   position: relative;
   top: -1px;
}

.about__img {
   max-width: 100%;
   height: auto;
   border-radius: 4px;
   display: block;
   margin: 0 auto;
   opacity: 0.6;
}

.about__img:hover {
   opacity: 1;
}

.about__info {
   font-size: 1.5rem;
   margin: 15px 0;
   line-height: 26px;
}

.about__skill {
   font-size: 1.8rem;
   margin: 15px 0;
   padding: 16px 0;
   line-height: 26px;
   width: 100%;
   text-align: center;
}

.col.l-12.about-sub {
   margin: 15px 0;
   display: flex;
   align-items: center;
}

.about-sub__icon {
   width: 15px;
   height: 15px;
   margin-right: 8px;
}

.about-sub__name {
   font-size: 1.5rem;
   letter-spacing: 8px;
   line-height: 22px;
}

.col.l-12.about__percent-skill {
   height: 34px;
   background-color: #f1f1f1;
   flex: 0 0 calc(100% - 12px);
   max-width: calc(100% - 12px);
   padding: 0;
   margin-left: 6px;
}

.col.l-12.about__percent-skill p {
   color: #fff;
   font-size: 1.5rem;
   background-color: #616161;
   padding: 4px 0;
   text-align: center;
   line-height: 26px;
}

.skill-90 {
   width: 90%;
}

.skill-85 {
   width: 85%;
}

.skill-75 {
   width: 75%;
}

/* portfolio */
.grid.portfolio {
   width: 100%;
   height: 133px;
   background-color: #616161;
}

.grid.portfolio .row.no-gutter {
   align-items: center;
   height: 100%;
}

.col.no-gutter.l-3 {
   text-align: center;
   flex: 0 0 25%;
   max-width: 25%;
}

.col.no-gutter.l-3 h4 {
   color: #fff;
   font-size: 2.4rem;
   font-weight: 200;
}

.col.no-gutter.l-3 p {
   color: #fff;
   font-size: 1.4rem;
}

.portfolio__background-img {
   background-image: url(https://www.w3schools.com/w3images/parallax2.jpg);
   background-repeat: no-repeat;
   background-attachment: scroll;
   min-height: 400px;
   background-size: cover;
   background-position: center;
   opacity: 0.8;
   position: relative;
}

.portfolio__background-img h2 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   font-size: 3.6rem;
   letter-spacing: 8px;
   font-weight: 200;
   line-height: 40px;
}

/* my-work */
#my-work {
   color: #777;
}

.my-work__heading {
   font-size: 2.4rem;
   font-weight: 200;
   line-height: 26px;
   padding: 12px 0;
   text-align: center;
}

.my-work__title {
   font-size: 1.5rem;
   text-align: center;
   font-style: italic;
   margin: 10px 0;
   text-align: center;
}

.my-work__img {
   max-width: 100%;
   height: auto;
   margin-top: 8px;
}

.my-work__img:hover {
   opacity: 0.6;
}

.my-work__btn {
   font-size: 1.5rem;
   padding: 12px 24px;
   line-height: 22px;
   color: #000;
   background-color: #f1f1f1;
   margin: 32px auto 0;
}

.my-work__btn:hover {
   cursor: pointer;
   background-color: #ccc;
}

/* contact */
.contact__background-img {
   background-image: url(https://www.w3schools.com/w3images/parallax3.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   min-height: 400px;
   position: relative;
   opacity: 0.8;
}

.contact__background-img h2 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   font-size: 3.6rem;
   letter-spacing: 8px;
   font-weight: 200;
   line-height: 40px;
}

.contact {
   color: #777;
}

.contact .row {
   margin-right: -16px;
   margin-left: -16px;
}

.contact .row .col {
   padding-right: 16px;
   padding-left: 16px;
}

.contact__heading {
   font-size: 2.4rem;
   font-weight: 200;
   line-height: 26px;
   padding: 12px 0;
   text-align: center;
}

.contact__title {
   font-size: 1.5rem;
   text-align: center;
   font-style: italic;
   margin: 10px 0 40px;
   text-align: center;
}

.contact__map {
   max-width: 100%;
   height: auto;
   border-radius: 4px;
}

.contact__detail {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.contact__detail-icon {
   width: 22px;
   height: 22px;
   margin-right: 22px;
}

.contact__detail-icon:hover {
   color: #000;
}

.contact__detail-label {
   font-size: 1.8rem;
   line-height: 22px;
}

.contact__note {
   margin: 15px 0;
   display: flex;
   align-items: center;
}

.contact__note p {
   font-size: 1.5rem;
   line-height: 22px;
}

.contact__note-icon {
   width: 16px;
   height: 16px;
   margin-left: 4px;
   position: relative;
   top: 1px;
}

.contact__message {
   margin: 15px 0;
}

.contact__message div {
   display: flex;
}

.contact__message div div {
   flex: 0 0 50%;
   padding-bottom: 8px;
   max-width: 50%;
}

.contact__message div div:first-child {
   padding-right: 8px;
}

.contact__message div div:last-child {
   padding-left: 8px;
}

.contact__message div div input,
.contact__message > input {
   padding: 8px;
   width: 100%;
   line-height: 22px;
   font-size: 1.5rem;
}

.contact__btn {
   width: 172px;
   display: flex;
   align-items: center;
   padding: 8px 16px;
   background-color: #000;
   color: #fff;
   margin: 10px 0 10px auto;
}

.contact__btn:hover {
   cursor: pointer;
   background-color: #ccc;
   color: #000;
}

.contact__btn-icon {
   width: 15px;
   height: 15px;
}

.contact__btn-label {
   font-size: 1.5rem;
   line-height: 26px;
   margin-left: 4px;
   user-select: none;
}

/* footer */
.grid.footer {
   background-color: #000;
   opacity: 0.6;
   color: #000;
   padding: 48px 12px;
}

.grid.footer:hover {
   opacity: 1;
}

.footer__btn {
   background-color: #fff;
   padding: 12px 16px;
   text-align: center;
   margin: 10px auto;
}

.footer__btn:hover {
   cursor: pointer;
   background-color: #ccc;
}

.footer__btn-icon {
   width: 14px;
   height: 14px;
   margin-right: 6px;
   position: relative;
   top: 1px;
}

.footer__btn-link {
   font-size: 1.5rem;
   line-height: 22px;
   text-decoration: none;
   color: #000;
}

.footer__icon-wrap {
   margin: 15px auto;
}

.footer__icon {
   width: 24px;
   height: 24px;
   color: #fff;
   margin-right: 2px;
}

.footer__icon:hover {
   color: #ccc;
   cursor: pointer;
}

.footer__license {
   margin: 15px auto;
   display: flex;
}

.footer__license p {
   color: #fff;
   font-size: 1.5rem;
   margin-right: 4px;
}

.footer__license a {
   color: #fff;
   font-size: 1.5rem;
}

.footer__license a:hover {
   cursor: pointer;
   color: #4CAF50;
}